<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CourseDetail</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="card mb-3">
                <div class="card-header bg-primary text-white">
                    <h2 class="card-title mb-0">강의 상세 정보</h2>
                </div>
                <div class="card-body">
                     <ul class="list-group list-group-flush">
    <li class="list-group-item"><strong>학과 | </strong> <span th:text="${courseDetail.department}"></span></li>
    <li class="list-group-item"><strong>교수 | </strong> <span th:text="${courseDetail.professor}"></span></li>
    <li class="list-group-item"><strong>과목명 | </strong> <span th:text="${courseDetail.subjectName}"></span></li>
    <li class="list-group-item"><strong>과목유형 | </strong> <span th:text="${courseDetail.subjectType}"></span></li>
    <li class="list-group-item"><strong>과목설명 | </strong> <span th:text="${courseDetail.description}"></span></li>
    <li class="list-group-item"><strong>커리큘럼 | </strong>
        <ol>
            <li th:each="curriculum : ${courseDetail.curriculum}" th:text="${curriculum}"></li>
        </ol>
    </li>
    <li class="list-group-item"><strong>취득 가능 학점:</strong> <span th:text="${courseDetail.credit}"></span>점</li>
</ul>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>