/* style.css */
body {
    background-color: #fff; /* 푸른계열 배경색 */
}

.header {
    background-color: #fff; /* 헤더 배경색 */
    padding: 10px;
}

.toggle-area {
    margin-bottom: 20px;
}

.navbar {
    background-color: #6495ED; /* 네비게이션 바 배경색 */
}

.navbar a {
    color: #fff; /* 네비게이션 바 글자색 */
}

.footer {
    background-color: #dcdcdc; /* 푸터 회색 배경색 */
    padding: 20px;
    text-align: center;
}