<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"><head>
    <meta charset="UTF-8" />
    <title>MyPage</title>
</head>
<body>

<!-- content -->
<div id="popup-root" data-catalog_id=""></div>
<main id="content">

        <div id="xnm2_content">
            <div class="xnp-manual-wrap ">
                <div class="xnp-manual">
                    <div class="manual-link link3">
                        <a href="#" target="_blank">
                            <i></i><span class="manual-text-y"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div id="xnm2_main_board">
                <div class="xnp-widget-container">

                    <div id="widget-63eafc6c32524a62162a55f7" class="widget xnp-widget-board"
                         data-locale="ko"
                         data-widget_id="63eafc6c32524a62162a55f7"
                         data-widget_type="board">
                    </div>

                    <div id="widget-63eafc78e0e2b377f867b922" class="widget xnp-widget-menual"
                         data-locale="ko"
                         data-widget_id="63eafc78e0e2b377f867b922"
                         data-widget_type="board">
                    </div>
                </div>
            </div>

        </div>



    </div>

</main>



</main>
<!-- footer -->
<!-- footer -->
<!-- footer -->

</body>
</html>