<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="css/common/common.css" />
    <link rel="stylesheet" href="css/common/sectionCss.css" />
</head>
<body>
<header>
    <!-- 상단 네비바 삽입 -->
    <header th:replace="~{layout/header :: header}"></header>
</header>

<!-- aside와 main을 포함한 container1을 flexbox로 만들어 둘을 가로로 나란히 배치 -->
<div class="container1">
    <aside>
        <!-- 사이드바 삽입 -->
        <nav th:replace="~{layout/sidebar :: sidebar}"></nav>
    </aside>

    <main>
        <div class="miniNavi">
            <h1>Hello, World!</h1>
        </div>
    </main>

    <footer>
        <!-- 푸터 삽입 -->
    </footer>
</div>
</body>
</html>
